$ztColor = #e95098;
flex()
    display: flex


flexB()
  display flex
  justify-content: space-between

flexA()
  display flex
  justify-content: space-around

flexS()
  display flex
  justify-content: flex-start

flexE()
  display flex
  justify-content: flex-end


flexCB()
  display flex
  flex-direction: column
  justify-content: space-between

flexCA()
  display flex
  flex-direction: column
  justify-content: space-around

flexCS()
  display flex
  flex-direction: column
  justify-content: flex-start

flexCE()
  display flex
  flex-direction: column
  justify-content: flex-end

ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
