
flexCB()
  display flex
  flex-direction: column
  justify-content: space-between

flexCA()
  display flex
  flex-direction: column
  justify-content: space-around

flexCS()
  display flex
  flex-direction: column
  justify-content: flex-start

flexCE()
  display flex
  flex-direction: column
  justify-content: flex-end

ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis